@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0a2e23;
}
